.container {
    width: 75% !important;
}

div.cell.selected {
    border-left-width: 1px !important;
}

div.output_scroll {
    resize: vertical !important;
}

div#notebook p, div#notebook{
    font-size: 300%;
    line-height: 300%;
}
.rendered_html pre, .rendered_html table{
    font-size:300%;
    line-height: 300%;
}
.CodeMirror, .CodeMirror pre, .CodeMirror-dialog, .CodeMirror-dialog .CodeMirror-search-field, .terminal-app .terminal {
    font-size: 300%;
    line-height: 300%;
}